
/* ------------------------------------------------ */
/* Base */

* {
  padding: 0;
  margin: 0;
}

html,
body {
  height: 100%;
}

.skrollr-desktop body {
  height: 100% !important;
}

body {
  text-align: center;
  font-family: sans-serif;
  word-break: normal;
}

h2 {
  margin-top: 0.3em;
}

p {
  margin: 1em 1em;
  text-align: justify;
}

hr {
  margin: 30px 30% 30px;
}

/* ------------------------------------------------ */
/* Layout */

.layout-content {
  background: #fff;
  padding: 1em;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* --- about --- */

.about__profile {
  width: 300px;
  height: 300px;
  border: solid 1px #aaa;
  margin: 30px 0;
}
@media screen and (max-width: 480px) {
  .about__profile {
    width: 150px;
    height: 150px;
  }
}

/* --- skills --- */

.skills__item {
  height: 200px;
  margin-top: 20px;
  margin-bottom: 20px;
}

/* --- works --- */

.works__item {
  height: 300px;
  margin-top: 30px;
  margin-bottom: 30px;
}

/* --- learned languages --- */

#js-langs-plot {
  text-align: center;
  max-width: 700px;
  margin: auto;
}

#js-langs-plot text.label {
  font-size: 12px;
}

#js-langs-plot .axis path,
#js-langs-plot .axis line {
  fill: none;
  stroke: black;
}

#js-langs-plot .axis text {
  font-family: sans-serif;
  font-size: 11px;
}

#js-langs-plot .axis text.label {
  font-family: sans-serif;
  font-size: 13px;
}

/* --- contact --- */

.contact__icon-list {
  display: inline-block;
}
.contact__icon-link:hover {
  position: relative;
  top: -5px;
}

/* ---------------------------- */
/* icons */

span.scroll-arrow {
  display: inline-block;
  width: 24px;
  height: 24px;
  margin: 15px 0;
  border-left: 1px solid #000;
  border-bottom: 1px solid #000;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  box-sizing: border-box;
}

/*
  CSS Sprites Generator
  https://www.toptal.com/developers/css/sprite-generator
*/

.sprite {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.sprite-atom {
  width: 64px; height: 64px;
  background: url('../image/css_sprites.png') -94px -10px;
}
.sprite-c_sharp {
  width: 55px; height: 63px;
  background: url('../image/css_sprites.png') -262px -178px;
}
.sprite-coffeescript {
  width: 64px; height: 64px;
  background: url('../image/css_sprites.png') -10px -94px;
}
.sprite-elixir {
  width: 64px; height: 64px;
  background: url('../image/css_sprites.png') -94px -94px;
}
.sprite-git {
  width: 64px; height: 64px;
  background: url('../image/css_sprites.png') -178px -10px;
}
.sprite-github {
  width: 64px; height: 64px;
  background: url('../image/css_sprites.png') -178px -94px;
}
.sprite-heroku {
  width: 64px; height: 64px;
  background: url('../image/css_sprites.png') -10px -10px;
}
.sprite-javascript {
  width: 64px; height: 64px;
  background: url('../image/css_sprites.png') -94px -178px;
}
.sprite-python {
  width: 64px; height: 64px;
  background: url('../image/css_sprites.png') -178px -178px;
}
.sprite-ruby {
  width: 64px; height: 64px;
  background: url('../image/css_sprites.png') -262px -10px;
}
.sprite-shell {
  width: 64px; height: 64px;
  background: url('../image/css_sprites.png') -10px -178px;
}
.sprite-sublime {
  width: 64px; height: 64px;
  background: url('../image/css_sprites.png') -262px -94px;
}
