
.parallax-image-wrapper {
  position: fixed;
  left: 0;
  width: 100%;
  overflow: hidden;
}

.parallax-image-wrapper-50 {
  height: 50%;
  top: -50%;
}

.parallax-image-wrapper-80 {
  height: 80%;
  top: -80%;
}

.parallax-image-wrapper-100 {
  height: 100%;
  top: -100%;
}

.parallax-image {
  display: none;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.parallax-image-50 {
  height: 200%;
  top: -50%;
}

.parallax-image-80 {
  height: 160%;
  top: -20%;
}

.parallax-image-100 {
  height: 100%;
  top: 0;
}

.parallax-image.skrollable-between {
  display: block;
}

.no-skrollr .parallax-image-wrapper {
  display: none !important;
}

#skrollr-body {
  height: 100%;
  overflow: visible;
  position: relative;
}

.gap {
  background: transparent center no-repeat;
  background-size: cover;
}

.skrollr .gap {
  background: transparent !important;
}

.gap-50 {
  height: 50%;
}

.gap-80 {
  height: 80%;
}

.gap-100 {
  height: 100%;
}
